/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
.btnMain {
    background: $primaryColor;
    color: #fff;
    font-size: 20px;
    padding: .5em 1.25em;
    font-weight: bold;
}
  
.btnMain:visited {
    background: $primaryColor;
    color: #fff;
}
  
.btnMain:hover {
    background: #fff;
    color: $primaryColor;
}
.navigationSlider .slidingNav ul a[href*="github"] {
    font-size: 0;
}
  
.navigationSlider .slidingNav ul a[href*="github"]::before {
    content : "";
    width : 32px;
    height : 32px;
    background: url("/img/github.svg");
}

pre {
    position: relative;
}
  
pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #fff;
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
}

pre .btnIcon:hover {
    text-decoration: none;
}

.btnIcon__body {
    align-items: center;
    display: flex;
}

.btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
}

.btnIcon__label {
    font-size: 11px;
}

.btnClipboard {
    right: 10px;
}